{% extends 'base.html.twig' %}

{% block title %}E-commerce{% endblock %}

{% block body %}
    <main class="container">
        <section class="row">
            <div class="col-12">
                <h1>Bienvenue dans notre boutique</h1>
                <p>Accueil</p>
                {% if app.user %}
                    <p>Bienvenue, {{ app.user.username }}!</p>
                    <p>Solde: {{ solde }}</p>
                    <img src="{{ asset('uploads/' ~ photoDeProfil) }}" alt="Photo de profil">
                {% endif %}
            </div>
            {% for singleArticle in articles %}
                <div class="card h-100">
                    <div class="card-body">
                        <h3 class="card-title">{{ singleArticle.nom }}</h3>
                        <p class="card-text">{{ singleArticle.description }}</p>
                        <a href="{{ path('products_details', {id: singleArticle.id}) }}" class="btn btn-primary">Look Details</a>
                    </div>
                </div>
            {% endfor %}
        </section>
    </main>
{% endblock %}
