{{ form_start(articleForm) }}
    {{ form_row(articleForm.Nom) }}
    {{ form_row(articleForm.description) }}
    {{ form_row(articleForm.prix) }}
    {{ form_row(articleForm.nb_article) }}
    {{ form_row(articleForm.lien_de_image) }}
    <button type="submit" class="btn btn-primary">{{ button_label|default('Ajouter') }}</button>
{{ form_end(articleForm) }}
